
$dark-theme: #0000;
$blue: #1975df;
$highlight-dark:rgb(227, 247, 53);
$highlight: rgb(241, 255, 117);
$footer: rgb(43, 41, 41);

$primary:#ffffff;
$secondary:rgb(241, 241, 241);


@import "../node_modules/bootstrap/scss/bootstrap.scss";
/*@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";*/