
$dark-theme: #0000;
$blue: #1975df;
$highlight-dark:rgb(227, 247, 53);
$highlight: rgb(227, 235, 156);
$footer: rgb(43, 41, 41);

$primary:#ffffff;

@import "../node_modules/bootstrap/scss/bootstrap.scss";