@use '../custom' as *;

.foot{
    background-color: $footer;
    text-align: left;
    padding: 20px 0 60px 0;
    
    .sec-main{
        margin-top: 100px;
        justify-content: space-between;
        @media (max-width: 768px){
            margin-top: 0!important;
            flex-direction: column;
            ul{
                margin-bottom: 60px!important;
            }
        }
        ul{
            color:$primary;
            list-style: none;
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 16px;
            padding-left: 0;

        }
        a{
            color: #989898;
            text-decoration: none;
        }
        a:hover{
            color: $primary;
        }
    }
    
}