@use '../custom' as *;
.regular{
    font-size: 20px;
    color: $dark-theme;
}
.intro-heading{
    h1{
      font-size:calc(55px + 1.5vw);
    }

    span{
        color:$blue;
    }
}

.intro-sub-heading{
    h4{
        font-size: 22px;
        font-weight: 400;
    }
}

.info{
    h4{
        font-weight:400;
    }
    .patch{
        font-weight: bold;
        background-color: $highlight-dark;
    }
}

.products{
    p{
        padding-right: 40px;
    }
}